.container-show{
  height: 100vh;
  padding: 35px;
  display: flex;
  justify-content: center;
  .image{
    transform: translateY(20px);
  }
  .cocktail-text{
    margin-left: 80px;
    width: 550px;
    max-width: 550px;
    .cocktail-description{
      padding: 10px;
      h1{
      }
      p{
        font-family: 'Truculenta', sans-serif;
      }
    }
    .cocktail-ingredients{
      padding: 10px;
      background-color: #F6F9F8;
      .ingredients-box{
        .fa-plus{
         margin-left: 12px;
         color: black;
         font-size: 30px;
         transition: all .5s linear;
       }
       .fa-plus:hover{
         transform: rotate(90deg);
       }
        .ingredient-description{
          margin: 12px;
          display: flex;
          justify-content: space-between;
         .btn-remove{
          padding: 2px 8px;
          border: 2px solid transparent;
          border-radius: 12px;
          color: lightgray
         }
         .btn-remove:hover{
          color: rgb(124, 124, 124);
          border: 2px solid rgb(124, 124, 124);
          padding: 2px 8px;
          border-radius: 12px;
          transition-duration: 0.2s;
         }

        }
      }
    }
    .cocktail-preparation{
      padding: 10px;
      background-color: #F6F9F8;
    }

  }
}