.navbar {
  border-bottom: 1px solid lightgrey;
  background-color: black;
  color: white;
}

.navbar-brand{
  color: white;
  position: relative;
  left: 120px;
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
  font-family: revert

}
.navbar-brand:hover{
  color:white;
}

.btn-light {
  position: relative;
  right: 120px;
}

.fas {
  font-size: 30px;
}