@media(max-width: 992px) {
  .navbar {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 720px) {
  .navbar {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 550px) {
  .navbar {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .navbar-brand {
    display: none;
  }
  .btn-white {
    margin-right: 0;
  }
}
@media(max-width: 390px) {
  .navbar {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .navbar-brand {
    display: none;
  }
  .btn-white {
    margin-right: 0;
  }
}

.navbar {
  width: 100vw;
  border-bottom: 1px solid lightgrey;
  padding: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-brand{
  text-decoration: none;
  color: mintcream;
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  margin-right: 0px;
}
.navbar-brand:hover{
  color:white;
}

.btn-white {
  background-color: mintcream;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-style: italic;
  font-family: sans-serif;
}

.btn-white:hover {
  text-decoration: none;
  color: black;
}

.fas {
  text-decoration: none;
  color: white;
  font-size: 30px;
  right: 200px;
}

.fas:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-size: 35px;
}